html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

#content {
  width: 99%;
  margin: auto;
  /*border: 3px solid #73AD21;*/
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 3px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0080ff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}

form.center {
  max-width: 500px;
  margin: auto;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #0080ff;
}

label {
  color: #0146f3;
}

input[type=text] {
  width: 100%;
  color: #000099;
  padding: 8px 12px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #0080ff;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  width: 100%;
  color: #000099;
  padding: 4px 6px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #0080ff;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit].btn, input[type=button].btn {
  background-color: #0040ff;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin: 4px 2px;
  cursor: pointer;
}

textarea {
  width: 100%;
  color: #000099;
  font-family: Helvetica, Arial, sans-serif;
  height: 120px;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1px solid #0080ff;
  border-radius: 4px;
  background-color: white;
  resize: none;
}

select {
  width: 100%;
  color: #0146f3;
  padding: 4px 6px;
  border: 1px solid #0080ff;
  border-radius: 4px;
  background-color: white;
}

.vote_outer {
  display:flex;
  align-items: center;
  flex-direction: row
}

a, button {
  font-size: 14px;
}

a:link.vote, a:visited.vote {
  background-color: darkgreen;
  color: white;
  width: 16px;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover.vote, a:active.vote {
  background-color: #009933;
}

a:link.add_answer, a:visited.add_answer {
  background-color: darkgreen;
  color: white;
  padding: 2px 8px;
  margin-left: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover.add_answer, a:active.add_answer {
  background-color: #009933;
}

a:link.sort, a:visited.sort {
  color: aqua;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline;
}

a:hover.sort, a:active.sort {
  color: #f44336;
}

a:link.sort_select, a:visited.sort_select {
  color: #f44336;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline;
}

a:hover.sort_select, a:active.sort_select {
  color: #f44336;
}

h2.title {
  color: #0146f3;
  margin: auto;
  text-align: center;
}

.txt_center {
  text-align: center;
}

.txt_left {
  text-align: left;
}

.txt_right {
  text-align: right;
}

.error {
  color: red;
}

.question {
  background-color: #d9d9d9;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
}

.answer {
  background-color: #e6e6e6;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  margin: 15px 0 0 15px;
}

a:link.btn_red, a:visited.btn_red, .btn_red {
  background-color: #f44336;
  color: white;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover.btn_red, a:active.btn_red {
  background-color: red;
}

a:link.btn_blue, a:visited.btn_blue, .btn_blue {
  background-color: #0146f3;
  color: white;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover.btn_blue, a:active.btn_blue {
  background-color: #0000ff;
}

a:link.btn_green, a:visited.btn_green, .btn_green {
  background-color: #20bd0a;
  color: white;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover.btn_green, a:active.btn_green {
    background-color: #009933;
}

a:link.btn_grey, a:visited.btn_grey, .btn_grey {
  background-color: #e6e6e6;
  color: black;
  width: 190px;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: black solid 1px;
  border-radius: 4px;
}

a:hover.btn_grey, a:active.btn_grey, *:hover.btn_grey {
  background-color: black;
  color: white;
}

a:link.btn_grey.half_size, a:visited.btn_grey.half_size, .btn_grey.half_size {
  width:95px;
}