html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

#content {
  width: 99%;
  margin: auto;
  /*border: 3px solid #73AD21;*/
}

#top-bar {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 5px;
  margin-bottom: 5px;
}

#top-bar > div {
  text-align: center;
}

.logo {
  font-size: 45px;
  color: #0146f3;
  font-weight: bold;
  padding: 0 3px 0 3px;
}

.logo.blue {
  color: #001dae;
}

.logo.sm {
  font-size: 35px;
}

.logo.border {
  border: 2px #001dae;
  border-style: dotted dashed dotted dashed;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 3px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0080ff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}

/*table search result - start*/
table.adv-search {
  border-collapse: collapse;
  width: 100%;
}

td.adv-search {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover.adv-search {
  background-color: #cccccc;
  cursor: pointer;
}

.que {
  padding-left: 5px !important;
}

.ans {
  padding-left: 25px !important;
}

.com {
  padding-left: 50px !important;
}
/*table search result - end*/

form.center {
  max-width: 500px;
  margin: auto;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #0080ff;
}

label {
  color: #0146f3;
}

input[type=text] {
  width: 100%;
  color: #000099;
  padding: 8px 12px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #0080ff;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  width: 100%;
  color: #000099;
  padding: 4px 6px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #0080ff;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=file] {
  width: 100%;
  color: #000099;
  padding: 4px 6px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #0080ff;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit].btn, input[type=button].btn {
  background-color: #0040ff;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin: 4px 2px;
  cursor: pointer;
}

textarea {
  width: 100%;
  color: #000099;
  font-family: Helvetica, Arial, sans-serif;
  height: 120px;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1px solid #0080ff;
  border-radius: 4px;
  background-color: white;
  resize: none;
}

select {
  width: 100%;
  color: #0146f3;
  padding: 4px 6px;
  border: 1px solid #0080ff;
  border-radius: 4px;
  background-color: white;
}

.pic {
  max-width: 100%;
  height: auto;
}

.inner {
  display:flex;
  align-items: center;
  flex-direction: row
}

.bar {
  display: flex;
  justify-content: space-between;
}

.bar > div {
  width: 260px;
  margin: 5px;
  text-align: left;
  line-height: 15px;
}

input[type=text].search {
  width: 180px;
  color: #000099;
  padding: 7px 10px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #0080ff;
  border-radius: 4px;
  box-sizing: border-box;
}

a, button {
  font-size: 14px;
}

a:link.vote, a:visited.vote {
  background-color: darkgreen;
  color: white;
  width: 16px;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover.vote, a:active.vote {
  background-color: #009933;
}

.separate {
  margin-left: 80px;
}

a:link.add, a:visited.add {
  background-color: darkgreen;
  color: white;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover.add, a:active.add {
  background-color: #009933;
}

a:link.edit, a:visited.edit {
  background-color: #0146f3;
  color: white;
  padding: 2px 8px;
  margin-left: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover.edit, a:active.edit {
  background-color: #0000ff;
}

a:link.del, a:visited.del {
  background-color: #f44336;
  color: white;
  padding: 2px 8px;
  margin-left: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover.del, a:active.del {
  background-color: red;
}

a:link.sort, a:visited.sort {
  color: aqua;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline;
}

a:hover.sort, a:active.sort {
  color: #f44336;
}

a:link.sort_select, a:visited.sort_select {
  color: #f44336;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline;
}

a:hover.sort_select, a:active.sort_select {
  color: #f44336;
}

h2.title {
  color: #0146f3;
  margin: auto;
  text-align: center;
}

.txt_center {
  text-align: center;
}

.txt_left {
  text-align: left;
}

.txt_right {
  text-align: right;
}

.error {
  color: red;
}

.tag-bar {
  display:flex;
  align-items: center;
  flex-direction: row;
  padding: 8px 1px;
}

.tag-bar > div {
  margin: 3px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 1px 3px;
  font-size: 14px;
}

a:link.del-tag, a:visited.del-tag, .del-tag {
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 0 2px;
;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover.del-tag, a:active.del-tag {
  background-color: white;
  color: black;
}

.question {
  background-color: #d9d9d9;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  border-radius: 4px;
  padding: 8px 12px;
}

.answer {
  background-color: #e6e6e6;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 15px 0 0 25px;
}

.comment {
  background-color: #f2f2f2;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 15px 0 0 50px;
}

p.comment-font {
  font-size: 0.9em;
}

a:link.btn_red, a:visited.btn_red, .btn_red {
  background-color: #f44336;
  color: white;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover.btn_red, a:active.btn_red {
  background-color: red;
}

a:link.btn_blue, a:visited.btn_blue, .btn_blue {
  background-color: #0146f3;
  color: white;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover.btn_blue, a:active.btn_blue {
  background-color: #0000ff;
}

a:link.btn_green, a:visited.btn_green, .btn_green {
  background-color: #20bd0a;
  color: white;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover.btn_green, a:active.btn_green {
    background-color: #009933;
}

a:link.btn_grey, a:visited.btn_grey, .btn_grey {
  background-color: #e6e6e6;
  color: black;
  width: 190px;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: black solid 1px;
  border-radius: 4px;
}

a:hover.btn_grey, a:active.btn_grey, *:hover.btn_grey {
  background-color: black;
  color: white;
}

.tags {
  display:flex;
  align-items: stretch;
  flex-direction: row;
  flex-grow: 1;
  max-width: 40vw;
  /*min-width: 300px;*/
  height: 80%;
  margin: auto;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #0080ff;
  overflow-wrap: break-word;
}

.tags > div {
  margin: 3px;
  flex-grow: 1;
  word-wrap: break-word;
  max-width: 50%;
}

.tag-fieldset {
  height: 70vh;
  border: 1px solid #0080ff;
  border-radius: 4px;
  background: white;
  overflow: scroll;
  overflow-x: hidden;
}

.tag-td {
  padding-bottom: 6px;
  padding-top: 6px;
  text-align: left;
}
