{% extends 'pattern.html' %}
{% block title %}Add Question{% endblock %}

{% block content %}
    <h2 class="title">Add Question</h2>
    <form class="center" action="{{ url_for('add_question') }}" method="post">
        <label for="title">Question Title:</label><br>
        <input type="text" id="title" name="title" minlength="5" maxlength="255" value="" placeholder="Write a question title" required><br>
        <br>
        <label for="question">Question:</label><br>
        <textarea id="question" name="question" rows="4" cols="50" placeholder="Write a question" required></textarea><br>
        <br>
        <input class="btn" type="submit" value="Add" name="sub_button"><a href="{{ url_for('question_list') }}"><input class="btn" type="button" value="Cancel"></a>
    </form>
{% endblock %}