{% extends 'pattern.html' %}
{% block title %}Edit the question{% endblock %}

{% block content %}
    <h2 class="title">Edit the question</h2>
    <form class="center" action="{{ url_for('edit_question', question_id=question_id) }}" method="post">
        <label for="title">Question Title:</label><br>
        <input type="text" id="title" name="title" minlength="5" maxlength="255" value="{{ question[4] }}" placeholder="Edit the question title" required><br>
        <br>
        <label for="question">Question:</label><br>
        <textarea id="question" name="question" rows="4" cols="50" placeholder="Edit the question" required>{{ question[5] }}</textarea><br>
        <br>
        <input class="btn" type="submit" value="Edit" name="sub_button"><a href="{{ url_for('question_list') }}"><input class="btn" type="button" value="Cancel"></a>
    </form>
{% endblock %}

