{% extends 'pattern.html' %}

{% block title %}List Questions{% endblock %}
{% block content %}
    <h2 class="title">List Questions</h2>
    <p><a class="btn_green" href="{{ url_for('add_question') }}">Add question</a></p>
    <table>
        <thead>
            <tr>
                {% for name in cols.keys() -%}
                <th>{{ name }}</th>
                {%  endfor %}
            </tr>
        </thead>
        <tbody>
            {%- for line in questions %}
                <tr>
                {%- for name, no in cols.items() -%}
                    {%- if name == 'Date' %}
                    {% set date = line[no]|string -%}
                    <td>{{ date[:19] }}</td>
                    {% elif name == 'Question'  -%}
                    <td class="txt_left">{{ line[no] }}<br><a class="btn_green" href="{{ url_for('question_view', question_id=line[0]|int) }}">View question</a></td>
                    {% else -%}
                    <td>{{ line[no] }}</td>
                    {%  endif -%}
                {%- endfor %}
                </tr>
            {% endfor -%}
        </tbody>
    </table>
{% endblock %}
