{% extends 'pattern.html' %}

{% block title %}Questions List{% endblock %}

{% block content %}
    <h2 class="title">Questions List</h2>
    <p><a class="btn_green" href="{{ url_for('add_question') }}">+ Add a question</a></p>
    <table class="center">
        <thead>
            <tr>
                {% for name in cols.keys() %}
                {% if name|lower == order_data[0] and order_data[1] == 'asc' %}
                <th>{{ name }}<a class="sort" href="{{ url_for('question_list', order_by=name|lower, order_direction='desc') }}">&#8710;</a><a class="sort_select" href="{{ url_for('question_list', order_by=name|lower, order_direction='asc') }}">&nabla;</a></th>
                {% elif name|lower == order_data[0] and order_data[1] == 'desc' %}
                <th>{{ name }}<a class="sort_select" href="{{ url_for('question_list', order_by=name|lower, order_direction='desc') }}">&#8710;</a><a class="sort" href="{{ url_for('question_list', order_by=name|lower, order_direction='asc') }}">&nabla;</a></th>
                {% else %}
                <th>{{ name }}<a class="sort" href="{{ url_for('question_list', order_by=name|lower, order_direction='desc') }}">&#8710;</a><a class="sort" href="{{ url_for('question_list', order_by=name|lower, order_direction='asc') }}">&nabla;</a></th>
                {% endif %}
                {%  endfor %}
            </tr>
        </thead>
        <tbody>
            {%- for line in questions %}
                <tr>
                {%- for name, no in cols.items() -%}
                    {%- if name == 'Date' %}
                    {% set date = line[no]|string -%}
                    <td style="min-width: 90px">{{ date[:19] }}</td>
                    {% elif name == 'Title'  -%}
                    <td style="min-width: 150px" class="txt_left">{{ line[no] }}</td>
                    {% elif name == 'Question'  -%}
                    <td class="txt_left">{{ line[no] }}<br><a class="btn_grey" href="{{ url_for('question_view', question_id=line[0]|int) }}">View the question</a>
                    <form action="{{ url_for('delete_question', question_id=line[0]|int) }}" method="POST">
                    <button class="btn_grey" type="submit">Delete</button>
                    </form>
                    </td>
                    {% else -%}
                    <td>{{ line[no] }}</td>
                    {%  endif -%}
                {%- endfor %}
                </tr>
            {% endfor -%}
        </tbody>
    </table>
{% endblock %}
