<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %} {% endblock %} - AskMate</title>
</head>
<body>
    <!-- Top Navigation Menu -->
    <div class="topnav" style="background: white">
        <div class="top-bar">
            <div class="logo border">
                A<span class="logo sm">SK</span><span class="logo blue">M<span class="logo sm blue">ATE</span></span>
            </div>
            {% if session.get(user_id) and session.get(user_email) -%}
            <div style="color: #000099">Signed in as <strong>{{ session[user_email] }}</strong></div>
            {%- endif %}
        </div>
        <div id="myLinks">
            {% if request.url_rule|string != url_for('index') -%}
            <a href="{{ url_for('index') }}">Home page</a>
            {%- endif %}
            {% if request.url_rule|string != url_for('question_list') -%}
            <a href="{{ url_for('question_list') }}">Questions' list</a>
            {%- endif %}
            {% if request.url_rule|string != url_for('tags_list') -%}
            <a href="{{ url_for('tags_list') }}">Tags List</a>
            {%- endif %}
            <hr class="separator">
            {% if session.get(user_id) and session.get(user_email) -%}
                {% if request.url_rule|string != url_for('add_question') -%}
                <a href="{{ url_for('add_question') }}">Add question</a>
                {%- endif %}
                {% if request.url_rule|string != url_for('users') -%}
                <a href="{{ url_for('users') }}">Users</a>
                {%- endif %}
                {% if cut_url(request.url|string, request.url_root|string) != url_for('user_page', user_id=session.get(user_id)) -%}
                <a href="{{ url_for('user_page', user_id=session.get(user_id)) }}">Your profile</a>
                {%- endif %}
                {% if request.url_rule|string != url_for('sign_out') -%}
                <a href="{{ url_for('sign_out') }}">Sign out</a>
                {%- endif %}
            {%- else %}
                {% if request.url_rule|string != url_for('sign_in') -%}
                <a href="{{ url_for('sign_in') }}">Sign in</a>
                {%- endif %}
                {% if request.url_rule|string != url_for('sign_up') -%}
                <a href="{{ url_for('sign_up') }}">Sign up</a>
                {%- endif %}
            {%- endif %}
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div id="content">
    {%- block content %} {% endblock %}
    </div>
<script>
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
</body>
</html>