<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %} {% endblock %} - AskMate</title>
</head>
<body>
    <div id="top-bar">
        <div>
            Test1
        </div>
        <div>
            Test2
        </div>
        <div>
            Test3
        </div>
    </div>
    <div id="content">
    {%- block content %} {% endblock %}
    </div>
</body>
</html>