{% extends 'pattern.html' %}

{% block title %}Questions View{% endblock %}
{% set question = question[0] %}
{% set q_id = question[0] %}
{% set q_date_sub = 1 %}
{% set q_view = 2 %}
{% set q_vote = 3 %}
{% set q_title = 4 %}
{% set q_question = 5 %}
{% set q_image = 6 %}
{% set q_user_id = 7 %}
{% set q_date = question[q_date_sub]|string -%}
{% set a_id = 0 %}
{% set a_date_sub = 1 %}
{% set a_vote = 2 %}
{% set a_answer = 4 %}
{% set a_image = 5 %}
{% set a_user_id = 6 %}
{% set a_acceptance = 7 %}
{% set c_id = 0 %}
{% set c_question_id = 1 %}
{% set c_answer_id = 2 %}
{% set c_message = 3 %}
{% set c_date_sub = 4 %}
{% set c_edited_no = 5 %}
{% set qt_id = 0 %}
{% set tag_title = 1 %}
{% block content %}
    <h2 class="title">Question View</h2>
    <p><a class="btn_blue" href="{{ url_for('question_list') }}">&lt;&lt; Back to questions</a></p>
    {# Tags -#}
        <div class="tag-bar">
        {%- for tag in tags %}
            <div>{{ tag[tag_title] }}&nbsp;&nbsp;<a class="del-tag" href="{{ url_for('tag_delete', question_id=q_id, tag_id=tag[qt_id]) }}" onclick="return confirm('Do you want to delete the tag named: {{ tag[tag_title] }}?');">X</a></div>
        {%- endfor %}
            {% if session.get(user_id) and session.get(user_email) -%}
            <a class="add" href="{{ url_for('new_tag', question_id=q_id) }}">+ Add tag</a>
            {%- endif %}
        </div>
    {# Question -#}
        <div class="question">
            <p><small>Posted date: {{ q_date[:19] }}, Viewed: {{ question[q_view] }}, Answers: {{ answer_count[0][0] }}</small></p>
            <p><strong>{{ question[q_title] }}</strong><br>
            {{ question[q_question] }}</p>
            {% if question[q_image] != None -%}
            <img class="pic" src="{{ question[q_image] }}" alt="Add image">
            {%- endif -%}
            <div class="inner">
                <div>
                    <a class="vote" href="{{ url_for('vote', element='question', question_id=q_id, value=1, user_id=question[q_user_id]) }}">+</a>&nbsp;<a class="vote" href="{{ url_for('vote', element='question', question_id=q_id, value=2, user_id=question[q_user_id]) }}">-</a>
                </div>
                <div>&nbsp;&nbsp;<small>Vote: {{ question[q_vote] }}</small></div>
                {% if session.get(user_id) and session.get(user_email) -%}
                <div class="separate"><a class="add" href="{{ url_for('add_answer', question_id=q_id) }}">+ Add answer</a>
                <a class="add" style="margin-right: 50px" href="{{ url_for('comment_question', question_id=q_id) }}">+ Add comment</a>
                {% if question[q_image] == None -%}
                <a class="add" href="{{ url_for('upload_file.upload_img_question', question_id=q_id) }}">+ Add image</a>
                {%- endif %}
                <a class="edit" href="{{ url_for('edit_question', question_id=q_id) }}">&plusmn; Edit question</a>
                <a class="del" href="{{ url_for('delete_question', question_id=q_id) }}" onclick="return confirm('Do you want to delete question with ID: {{ q_id }}?');">- Delete question</a>
                </div>
                {%- endif %}
            </div>
        </div>
        {# Comments for a question -#}
        {% for c_line in comment -%}
            {% if c_line[c_answer_id] == None -%}
            {% set c_date = c_line[c_date_sub]|string -%}
            <div class="comment">
                <p><small>Posted date: {{ c_date[:19] }}, Edited times: {{ c_line[c_edited_no] }}</small></p>
                <p class="comment-font">{{ c_line[c_message] }}</p>
                <div class="inner">
                    {% if session.get(user_id) and session.get(user_email) -%}
                    <div>
                        <a class="edit" href="{{ url_for('comment_edit', question_id=q_id, comment_id=c_line[c_id]) }}">&plusmn; Edit comment</a>
                        <a class="del" href="{{ url_for('del_comment', comment_id=c_line[c_id]) }}" onclick="return confirm('Do you want to delete the comment?');">- Delete comment</a>
                    </div>
                    {%- endif %}
                </div>
            </div>
            {%- endif %}
        {%- endfor %}
        {# Answers -#}
        {% for a_line in answer -%}
        {% set a_date = a_line[a_date_sub]|string -%}
        <div class="answer">
            {% if a_line[a_acceptance] -%}
            <div class="accepted"><img src="{{ url_for('static', filename='img/accepted.png') }}" alt="Accepted"></div>
            {%- endif %}
            <p><small>Posted date: {{ a_date[:19] }}</small></p>
            <p>{{ a_line[a_answer] }}</p>
            {% if a_line[a_image] != None -%}
            <img class="pic" src="{{ a_line[a_image] }}" alt="Add image">
            {%- endif -%}
            <div class="inner">
                <div>
                    <a class="vote" href="{{ url_for('vote', element='answer', question_id=q_id, value=1, user_id=a_line[a_user_id], answer_id=a_line[a_id]) }}">+</a>&nbsp;<a class="vote" href="{{ url_for('vote', element='answer', question_id=q_id, value=2, user_id=a_line[a_user_id], answer_id=a_line[a_id]) }}">-</a>
                </div>
                <div>&nbsp;&nbsp;<small>Vote: {{ a_line[a_vote] }}</small></div>
                {% if session.get(user_id) and session.get(user_email) -%}
                <div class="separate">
                <a class="add" style="margin-right: 50px" href="{{ url_for('comment_answer', question_id=q_id, answer_id=a_line[a_id]) }}">+ Add comment</a>
                {% if a_line[a_acceptance] and question[q_user_id] == session.get(user_id) -%}
                <a class="accept" href="{{ url_for('accept_answer', accept_sts=0, answer_id=a_line[a_id], answer_user_id=a_line[a_user_id], question_user_id=question[q_user_id], question_id=q_id) }}">&check; Remove acceptance</a>
                {% elif not a_line[a_acceptance] and question[q_user_id] == session.get(user_id) %}
                <a class="accept" href="{{ url_for('accept_answer', accept_sts=1, answer_id=a_line[a_id], answer_user_id=a_line[a_user_id], question_user_id=question[q_user_id], question_id=q_id) }}">&check; Accept answer</a>
                {% endif %}
                {% if a_line[a_image] == None -%}
                <a class="add" href="{{ url_for('upload_file.upload_img_answer', answer_id=a_line[a_id], question_id=q_id) }}">+ Add image</a>
                {%- endif %}
                <a class="edit" href="{{ url_for('edit_answer', question_id=q_id, answer_id=a_line[a_id]) }}">&plusmn; Edit answer</a>
                <a class="del" href="{{ url_for('delete_answer', answer_id=a_line[a_id]) }}" onclick="return confirm('Do you want to delete answer with ID: {{ a_line[a_id] }}?');">- Delete answer</a>
                </div>
                {%- endif %}
            </div>
        </div>
        {# Coments to an answer -#}
        {% for c_line in comment  -%}
            {% if c_line[c_answer_id] == a_line[a_id] -%}
            {% set c_date = c_line[c_date_sub]|string -%}
            <div class="comment">
                <p><small>Posted date: {{ c_date[:19] }}, Edited times: {{ c_line[c_edited_no] }}</small></p>
                <p class="comment-font">{{ c_line[c_message] }}</p>
                <div class="inner">
                    {% if session.get(user_id) and session.get(user_email) -%}
                    <div>
                        <a class="edit" href="{{ url_for('comment_edit', question_id=q_id, comment_id=c_line[c_id]) }}">&plusmn; Edit comment</a>
                        <a class="del" href="{{ url_for('del_comment', comment_id=c_line[c_id]) }}" onclick="return confirm('Do you want to delete the comment?');">- Delete comment</a>
                    </div>
                    {%- endif %}
                </div>
            </div>
            {%- endif %}
        {%- endfor %}
        {%- endfor %}
{% endblock %}