{% extends 'pattern.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <h2 class="title">Search</h2>
    <p><a class="btn_green" href="{{ url_for('question_list') }}"><< Back to questions</a></p>
    <table class="center">
        <thead>
            <tr>
                {% for name in cols.keys() -%}
                <th>{{ name }}</th>
                {%-  endfor %}
            </tr>
        </thead>
        <tbody>
            {% for line in search -%}
                <tr>
                {%- for name, no in cols.items() -%}
                    {%- if name == 'Date' %}
                    {% set date = line[no]|string -%}
                    <td style="min-width: 90px">{{ date[:19] }}</td>
                    {% elif name == 'Title'  -%}
                    <td style="min-width: 150px" class="txt_left">{{ line[no]|truncate(100) }}</td>
                    {% elif name == 'Question'  -%}
                    <td class="txt_left">{{ line[no]|truncate(320) }}<br><a class="btn_grey" href="{{ url_for('question_view', question_id=line[0]|int) }}">View the question</a></td>
                    {% else -%}
                    <td>{{ line[no] }}</td>
                    {%  endif -%}
                {%- endfor %}
                </tr>
            {% endfor -%}
        </tbody>
    </table>

{% endblock %}