{% extends 'pattern.html' %}

{% block title %}Upload File{% endblock %}
{% set request_path = request.path %}
{% if '/question/' in request_path %}
    {% set upload_url = url_for('upload_file.upload_img_question', question_id=question_id) %}
{% elif '/answer/' in request_path %}
    {% set upload_url = url_for('upload_file.upload_img_answer', answer_id=answer_id, question_id=question_id) %}
{% endif %}
{% block content %}
    <h2 class="title">Upload File</h2>
     <form class="center" action="{{ upload_url }}" method="post" enctype="multipart/form-data" accept=".png,.jpg,.jpeg">
        <label for="file_img">Select a image:</label>
        <input type="file" id="file_img" name="file_img">
        <input class="btn" type="submit" value="Add File"><a href="{{ url_for('question_view', question_id=question_id, boolean="False") }}"><input class="btn" type="button" value="Cancel"></a>
        {% with messages = get_flashed_messages() -%}
            {% if messages -%}
            {% for message in messages-%}
        <p class="error">{{ message }}</p>
            {%- endfor %}
            {%- endif %}
        {%- endwith %}
    </form>
{% endblock %}